@import '/src/lib/styles/colors.scss';

.content {
  padding: 0 15%;
}
.large_section_wrapper {

  background-image: url('/assets/large-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  &__title {
    font-size: 32px;
    font-weight: bold;
    color: $main-text-color;
    margin: 0 auto;
    width: fit-content;

  }

  &__form {
    label {
      color: $text-base-color;
      text-transform: capitalize;
    }
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2rem;
    &__package {
      color: $text-base-color;
    }
    &__account {
      color: $text-base-color;
      font-size: 20px;
      & * {
        color: $main-text-color;
      }
    }

    &__benefits {
      color: $text-base-color;
    }
  }


  .errorMessage,
  .successMessage {
    font-size: 16px;
    margin-bottom: 20px;
    color: #fff;
    background-color: rgba(255, 0, 0, 0.7); // Fondo para mejor visibilidad
    padding: 10px;
    border-radius: 5px;
  }
}