@import '/src/lib/styles/colors.scss';


.large_section_wrapper {
  background-image: url('/assets/large-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  
  padding: 2rem;
}