@import '/src/lib/styles/colors.scss';

.comment_wrapper {
    margin: auto;
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;

    &__actions {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &__edit {
            color: white;
            border-radius: 20px;
            border: none;
            padding: 5px;
            background-color: $red-background-color;
        }
        &__delete {
            color: white;
            border-radius: 20px;
            border: none;
            padding: 5px;
            background-color: $red-background-color;
        }
    }

    .comment_wrapper__avatar {
        background-color: $red-background-color;
        align-content: center;
        min-width: 50px;
        min-height: 50px;
        overflow: hidden;
        border-radius: 50%;
        display: flex;
        padding: 10px;
        box-sizing: border-box;
        justify-content: center;

        &__image {
            width: 100%;
            height: 100%;
        }
    }

    .comment_wrapper__text {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        color: white;

        &__username {
            font-weight: bold;
            font-size: 1.2rem;
        }

        &__comment {
            font-size: .9rem;

            &--edit {

            }
        }
    }

    .comment_wrapper__rate {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;

        svg {
            width: 20px;
            height: 20px;
            fill: #f1c40f;
        }
    }
}