@import '/src/lib/styles/colors.scss';

.large_section_wrapper {
background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .loginPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $black-background-color;
    background-size: cover;
    align-items: center;
    justify-content: center;
    padding: 1rem; 
  }

  .loginContainer {
    max-width: 400px;
    width: 100%;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto; // Centrar el contenedor
  }

  .title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: $main-text-color;
  }

  .errorMessage,
  .successMessage {
    font-size: 16px;
    margin-bottom: 20px;
    color: #fff;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .inputGroup {
    margin-bottom: 20px;
  }

  .input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    background-color: transparent;
    color: #fff;
    //Asegurarsedequeelinputnodesbordebox-sizing: border-box;
    -webkit-border-radius: 20px;
}

  .input:focus {
    border-color: $primary-color;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .forgotPassword {
    font-size: 14px;
    color: $main-text-color;
    text-decoration: none;
    margin-bottom: 20px;
  }

  .rulesSection,
  .termsSection,
  .benefitsSection {
    margin-bottom: 20px;
    color: #fff;
    text-align: justify;
  }

  .rulesSection p,
  .link {
    color: $main-text-color;
  }

  .submitButton {
    padding: 10px 15px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: $red-background-color;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 0 auto;
    -webkit-border-radius: 10px;
  }

  .submitButton:disabled {
    background-color: $disabled-color;
    cursor: not-allowed;
  }

  .link {
    text-decoration: none;
    color: $main-text-color;
  }

  .registerLink {
    color: #fff;
  }
  label {
    color: white;
    display: flex;
  }

  @media (max-width: 768px) {
    .loginContainer {
      padding: 1rem;
      max-width: 90%; // Hacer que el ancho máximo sea 90% en pantallas pequeñas
    }

    .title {
      font-size: 24px;
      margin-bottom: 15px;
    }

    .input {
      padding: 8px;
      font-size: 14px;
    }

    .submitButton {
      padding: 8px 16px;
      font-size: 14px;
    }

    // Asegurar que el texto no se desborde
    .rulesSection,
    .termsSection,
    .benefitsSection {
      padding: 0 1rem; // Añadir padding horizontal
    }
  }
}
