@import '/src/lib/styles/colors.scss';
@import '/src/lib/styles/sizes.scss';
@import '/src/lib/styles/responsive.scss';

.large_section_wrapper {
  background-image: url('/assets/large-background.png');
  background-repeat: no-repeat;
  background-size: cover;

  &__default_section {
    background-color: rgba($color: $red-background-color, $alpha: .2);
    color: $text-base-color;
    padding: $unmarked-padding;

    &__paragraph {
      font-size: $base-pharagraph-size ;
    }
  }

  &__third_section {
    background-color: transparent;
  }

  &__images {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;

    &__image {
      width: 100%;
      max-width: 161px;
      height: 109px;
    }
  }

  &__aditional_info {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: $base-pharagraph-size;
    gap: 20px;
    padding: $unmarked-padding;

    &__points {
      list-style: decimal;
      list-style-position: inside;
      display: flex;
      flex-direction: column;
      
      gap: $normal-gap;
    }
  }

  &__services {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: $minimum-padding;
    color: $text-base-color;
    align-items: center;
    background-color: rgba($color: $red-background-color, $alpha: .2);

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 10px;
      list-style: none;
    }



  }

  &__comment {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: $unmarked-padding;
    color: $text-base-color;

    &__form {
      display: flex;
      gap: 20px;
      align-items: center;
      flex-direction: column;

      * {
        color: $main-text-color;
      }

      textarea {
        min-width: 100%;
        background-color: darken($color: $primary-color, $amount: 45%);
        outline: none;
        max-width: 100%;
        padding: 10px;
        font-size: 1rem;
        color: $text-base-color;
      }

      &__button {
        color: $text-base-color;
      }
    }
  }

}