@import '/src/lib/styles/sizes.scss';
@import '/src/lib/styles/colors.scss';

.selectGroup {
    display: flex;
    flex-direction: column;
    gap: $minimum-gap;
    width: 100%;
    color: $text-base-color;
    align-items: flex-start;
    font-size: $base-pharagraph-size;

    &__input {
        padding: $input-padding;
        font-size: $base-pharagraph-size;
        border-radius: $interactive-radius;
        border: none;
        width: 100%;
        background-color: #fff;
        border-radius: 20px;
    }
}