@import "/src/lib/styles/colors.scss";
@import "/src/lib/styles/sizes.scss";

.backContainer {
    background-color: $black-background-color;

    color: $text-base-color;
    width: $button-width - 2;
    height: $button-height + 4;
    font-size: $base-pharagraph-size;
    border-radius: $special-radius;
    font-weight: normal;
    cursor: pointer;
    border: none;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $small-gap;

    &__arrow {
        color: white;
    }

    &__back {
        padding: 0;
        width: fit-content;
        background-color: transparent;
        border-radius: 10px;

    }
}