.backContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: black;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    &__arrow {
        transform: scale(1.2);
        color: white;
    }

    &__back {
        background-color: transparent;
        padding: 10px;
        align-self: start;
        border-radius: 10px;
    }
}