@import '/src/lib/styles/colors.scss';
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.4);
    align-content: center;
    &__wrapper {
        background-image: url('/public/assets/large-background.png');
        background-size: cover;
        background-position: center;
        margin: auto;
        width: 300px;
        height: 200px;
        padding: 10px;
        border-radius: 10px;
        &__content {
            border-radius: inherit;
            display: flex;
            flex-direction: column;
            gap: 10px;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: black;
            border-radius: 10px;
            padding: 20px;
            width: 100%;
            height: 100%;
            &__message {
                font-size: 1rem;
                text-align: center;
            }
            &__buttons {
                display: flex;
                justify-content: center;
                width: 100%;
                &__ok, &__cancel{
                    padding: 10px;
                    border: none;
                    cursor: pointer;
                    color: white;
                    width: 45%;
                }
                &__ok {
                    background-color: $red-background-color;
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 10px;
                }
                &__cancel {
                    background-color: darken($red-background-color, 10%);
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
            }
        }
    }
}