@import '/src/lib/styles/colors.scss';
@import '/src/lib/styles/sizes.scss';

.subServiceCard {
    padding: 4px;
    color: white;
    background-color: $red-background-color;
    width: fit-content;
    aspect-ratio: 1/1.1;
    width: 86px;
    border-radius: 5px;

    &__info {
        height: 100%;
        padding: 0 2px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        border-radius: inherit;
        background-color: black;
        border-color: $red-background-color;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        
        &__time,
        &__price {
            font-weight: 100;
            font-size: $base-pharagraph-size;
        }

        &__desc {
            font-size:  .5rem;
        }
    }
}