@import './lib/styles/colors.scss';
@import './lib/styles/fonts.scss';
@import './lib/styles/sizes.scss';
* > * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GildaDisplay', sans-serif;
    line-height: $base-line-height;
    font-weight: 100;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: $main-page-color;
}

p {
    font-size: $base-pharagraph-size;
}

h1 {
    font-size: $base-title-size;
}

h2 {
    font-size: $base-title-size;
}

h3 {
    font-size: $base-title-size;
}