@import './lib/styles/colors.scss';
@import './lib/styles/fonts.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GildaDisplay', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: $main-page-color;
}
