.navButton {
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
    background-color: transparent;

    &:hover {
        color: lightgray; 
    }

    &.active {
        // si se quiere saber en donde esta la persona  se pinta de color Amarillo 
        // color: yellow; 
    }
}
