@import '/src/lib/styles/colors.scss';

.header {
    padding: 20px;
    background-image: url('/public/assets/main-background.png');
    background-repeat: no-repeat;
    background-size: cover;

    &__nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;


        &__menu {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

          

            &__items {
                background-color: white;
                border-radius: 5px;
                padding: 10px;
                width: 200px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                justify-content: center;
                align-items: flex-start;
                position: absolute;
                right: 0;
                top: 100%;
                font-weight: bold;

                * {
                    color: $black-text-color;
                    text-align: center;
                    text-decoration: none;
                }

                &--closed {
                    display: none;
                }

                hr {
                    width: 100%;
                    border: .5px solid  $red-text-color;
                }

                &__main {
                    * {
                        color: $red-text-color !important;
                    }
                }
            }


        }

    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3rem 1rem;
        gap: 20px;

        &__title {
            font-size: 1.9rem;
            font-weight: 700;
            text-align: center;
            color: $main-text-color; // Mantener el color amarillo aquí
        }

        &__paragraph {
            color: white;
            font-size: 1.3rem;
            font-weight: 400;
            text-align: center;
            text-wrap: pretty;
            max-width: 80%;
        }
    }

    // diseño del lenguaje 
    .languageSelector {
        position: relative; // Para posicionar el dropdown
        cursor: pointer;
        color: white; // Cambia el color del texto a blanco
    
        .languageDropdown {
            position: absolute;
            background-color: white; // Cambia el color según tu diseño
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            z-index: 100; // Para asegurarte de que esté por encima de otros elementos
            margin-top: 0.5rem;
            padding: 0.5rem;
    
            span {
                color: rgb(0, 0, 0);
                display: block;
                padding: 0.5rem;
                cursor: pointer;

                &:hover {
                    background-color: #f0f0f0; 
                }
            }
        }
    }

    // Media queries para dispositivos móviles
   @media (max-width: 768px) {
    &__nav {
        flex-direction: row-reverse;

        &__toggle {
            display: block; 
            cursor: pointer;
            font-size: 1.5rem; 
            color: white; 
            transition: color 0.3s;

            &:hover {
                color: #ffcc00; 
            }
        }

        &__links {
            display: none; 

            &.open {
                display: flex; 
                flex-direction: column;
                text-align: center;
                gap: 0.1rem; 
                padding: 1rem 0;
                background-color: rgba(0, 0, 0, 0.9); 
                border-radius: 5px; 
                position: absolute; 
                top: 50px; 
                right: 60px;
                width: 30%; 

                // Añade sombra para destacar el menú
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

                // Estilo de los elementos de enlace
                a {
                    color: white; 
                    text-decoration: none; 
                    padding: 10px; 

                    &:hover {
                        background-color: rgba(255, 204, 0, 0.2); 
                        border-radius: 5px; 
                    }
                }
            }
        }
        
    }
}

}
